body {
  font-family: "Roboto" sans-serif;
  color: black;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.web {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.communication-one {
  color: black;
  text-decoration: none;
}
.communication-one:hover,
.communication-one:focus {
  color: blue;
  text-decoration: underline;
}
.communication-two {
  color: black;
  text-decoration: none;
}
.communication-two:hover,
.communication-two:focus {
  color: blue;
  text-decoration: underline;
}
.accent {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
}
.nav {
  color: black;
  text-decoration: none;
}
.first-field {
  background-color: #2e2f42;
  text-align: center;
  font-size: 56px;
  height: 600px;
}
.first-field-one {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
}
.first-field-button {
  background-color: #4d5ae5;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border: none;
}
.first-field-button:hover,
.first-field-button:focus {
  background-color: #404bbf;
}
.three-field {
  background-color: #f4f4fd;
}
.last-field {
  background-color: #2e2f42;
}
.last-field-one {
  color: #f4f4fd;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
}
.last-field-two {
  color: #f4f4fd;
}
